.menu {
  margin-bottom: 260px;
  &__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
    &-icons {
      margin-right: 20px;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__icon {
    margin-bottom: 51px;
  }
}
