.pages {
  padding: 0;
  width: 910px;
}

.heading {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #d8d8d8;
  &__title {
    font-weight: 700;
    font-size: 24px;
    width: 120px;
    line-height: 32px;
  }
  &__selects {
    display: flex;
    width: 170px;
    height: 40px;
  }
}
