.right__sitebar {
  border-left: solid 1px #d8d8d8;
  padding: 20px 28px;
}

.search {
  position: relative;
  margin-bottom: 20px;
  &__input {
    padding: 15px 64px;
    border-radius: 31px;
    font-weight: 400;
    font-size: 18px;
    width: 373px;
    line-height: 24px;
    border: none;
    outline: none;
  }

  &__label {
    position: absolute;
    top: 14px;
    left: 22px;
    z-index: 1;
  }
}

.trends {
  border-radius: 10px;
  padding: 20px 15px;
  margin-bottom: 20px;
  width: 373px;
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    &-title {
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      flex-wrap: nowrap;
    }
  }
}

.trend {
  margin-bottom: 15px;

  &__location {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    opacity: 0.6;
  }
  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    margin: 0;
  }
  &__tweets {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

    opacity: 0.6;
  }
}

.mightlike {
  width: 373px;
  border-radius: 10px;
  padding: 20px 15px;
  margin-bottom: 30px;
  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;

    margin-bottom: 25px;
  }
}

.likers {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  &__img {
    margin-right: 13px;
  }
  &__name {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 1px;
  }
  &__username {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    opacity: 0.6;
    margin-right: 36px;
  }
  &__btn {
    position: absolute;
    right: 15px;
  }
}
